!{ foo = 2; }!

^{foo + 2} ^{foo % 2}

~{if foo == 2}
 <p>foo is two</p>
~{/if}
~{else}
 <p>foo is not two</p>
~{/else}

~{if foo == 3}
 <p>foo is three</p>
~{/if}
~{else}
 <p>foo is not three</p>
~{/else}

<ul>
~{list items:[1,2,3], var:'i' }
 <li>item: ^{i}
  <ul>
  ~{list items:[1,2,3], var:'j' }
   <li>sub-item: ^{i}.^{i*j}</li>
  ~{/list}
  </ul>
 </li>
~{/list}
</ul>

<ul>
~{future value:new Stamps.Future("/data"), var: 'items'}
~{list items:items, var:'d' }
 <li>Future data: ^{d}</li>
~{/list}
~{/future}
</ul>
