#site{margin-top:130px;}
h1{position:fixed;top:0;z-index:100;margin-top:0.4666666666666666em;width:auto;padding:0 24px;color:#ffffff;}
h1 .product-name{font-size:1.9em;font-family:"Virgo01Regular",Arial,Helvetica,sans-serif;color:#ffffff;}
h1 .product-name span{color:orange;}
h1 .tagline{padding:0 0 0 4.6em;font-size:0.5em;}
.para{display:none;}
h1+.para{display:block;}
h2{font-size:2em;font-family:"Virgo01Regular",Arial,Helvetica,sans-serif;}
h3{padding-top:1em;}
h3.active{margin-left:-40px;padding-left:40px;width:1000px;font-weight:bold;background:transparent url(images/arrow-next.png) no-repeat 0 80%;}
.example li{color:black;margin-top:3px;margin-bottom:3px;}
li>div{color:black;}
.body p{max-width:740px;}
.example{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;width:100%;background:white;overflow:hidden;}
.example td{width:33%;padding:5px 10px;}
.example th{font-weight:bold;font-size:0.75em;text-transform:uppercase;color:#ffffff;background:#222222;padding:3px 10px;}
.example td.program,.example td.result{border-right:1px solid #ffffff;background:#e0efff;}
.example .result-eval{background:orange;}
table.doc{float:right;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;width:50%;margin:1em 0;background:#FDF3C6;overflow:hidden;}
table.doc th{text-align:right;}
table.doc .tag td{font-weight:bold;font-family:monospace;}
table.doc th,table.doc td{padding:5px 10px;}
pre{font-family:monospace;white-space:pre-wrap;}
.toc{position:fixed;top:0;z-index:20;-webkit-border-bottom-right-radius:6px;-webkit-border-bottom-left-radius:6px;-moz-border-radius-bottomright:6px;-moz-border-radius-bottomleft:6px;border-bottom-right-radius:6px;border-bottom-left-radius:6px;width:960px;height:124px;background:rgba(34, 34, 34, 0.95);overflow:hidden;}
.toc ul{position:relative;margin:0;padding:1.4em 0 0 72%;width:250px;}
.toc li{list-style:none;width:100%;margin-top:2px;margin-bottom:2px;font-weight:bold;}
.toc li.level2{padding-left:1.4em;font-weight:normal;}
.toc li a{text-decoration:none;color:#ffffff;width:100%;display:inline-block;cursor:pointer;}
.toc li a.active,.toc li a:hover{color:orange;}
tt{display:inline-block;font-family:monospace;background:#FDF3C6;}
i{font-style:italic;}
