form{padding:0 0 0.5em 0;width:100%;max-width:500px;}
fieldset{padding:0 0 0.5em 0;}
label{line-height:2;display:block;}
input{width:100%;}
input[type=checkbox],input[type=radio]{width:auto;}
input[type=checkbox]+label{float:none;display:inline;}
input[type="radio"]+label{display:inline;float:none;}
select{margin:0;padding:0;width:auto;min-width:50%;}
textarea{padding:0.15em;width:100%;}
input[type=checkbox]{float:left;}
div div input[type=checkbox]{float:none;display:inline;}
fieldset div div div{float:right;display:block;width:100%;}
fieldset div div label{float:none;display:inline;}
form fieldset p{margin:1em 0 1em 0;}
input[type=button],input[type=submit]{width:auto;}
.hidden{position:absolute;visibility:hidden;}
fieldset .error{font-weight:bold;color:#cd0a0a;}
