/*  ###########################################################################
    Author:     Lunatech
    date:       Fabruary 2011
    ########################################################################### */

    
    @import "lib.less";



    #site { margin-top: 106px + 24px; } 
            
    h1 {
        position: fixed;
        top:0;
        z-index: 100;
        margin-top: @base-height/3;
    	width: auto;
    	padding: 0 @body-whitespace;
        color: @light-color;
/*     	background: @dark-color; */
        }
    h1 .product-name {
        font-size: 1.9em;
        font-family: @fonts-header;
        color: @light-color;
        }
    h1 .product-name span {
        color: orange;
        }
    h1 .tagline {
        padding: 0 0 0 4.6em;
        font-size: 0.5em;
        }

    .para { display: none; }
    
    h1 +.para {
        display: block;
        }

    h2 {
        margin-top: 1em;
        font-size: 2em;
        font-family: @fonts-header;
        }
    h3 {
        padding-top: 1em;
        }
    
    h3.active { 
        margin-left: -40px;
        padding-left: 40px;
        width: 960px + 40px;
        font-weight: bold;
        background: transparent url(images/arrow-next.png) no-repeat 0 80%;
        }
    .example li {
    	color: black;
    	margin-top: 3px;
    	margin-bottom: 3px;
    }
    
    li > div {
    	color: black;
    }
    .body p { max-width: 740px; }
    .example {
        .rounded-corners(3px);
    	width: 100%;
    	background: white;
    	overflow:hidden;
    }

    .example td {
    	width: 33%;
    	padding: 5px 10px;
    }
    .example th {
        font-weight: bold;
        font-size: 0.75em;
        text-transform: uppercase;
        color: @light-color;
        background: @dark-color;
    	padding: 3px 10px;
        }
    .example td.program,
    .example td.result {
        border-right: 1px solid @light-color;
        background: @blue3;
    }
    .example .result-eval {
        background: orange;
        }
    table.doc {
    	float: right;
        .rounded-corners(3px);
    	width: 50%;
        margin: 1em 0;
    	background: #FDF3C6;
    	overflow: hidden;
    }
    
    table.doc th {
    	text-align: right;
    }
    
    table.doc .tag td {
    	font-weight: bold;
    	font-family: monospace;
    }
    
    table.doc th,
    table.doc td {
    	padding: 5px 10px;
    }
    
    pre { 
    	font-family: monospace;
    	white-space: pre-wrap;
    }
    
    .toc {
        position: fixed;
        top:0;
        z-index: 20;
    	width: 960px;
    	height: 106px;
    	background: @dark-color;
        overflow: hidden;
        }
    
    .toc ul {
        position: relative;
    	margin: 0;
    	display: none;
        padding: @base-height 0 0 40%;
        -moz-column-count: 2; -moz-column-gap: 1em; 
        -webkit-column-count: 2; -webkit-column-gap: 1em; 
    	height: 260px;
        }
    
    .toc li {
    	list-style: none;
    	width: 100%;
    	margin-top: 2px;
    	margin-bottom: 2px;
    	font-weight: bold;
        }
    
    .toc li.level2 {
    	padding-left: @base-height;
    	font-weight: normal;
    }
    
    .toc li a {
    	text-decoration: none;
    	color: @light-color;
    	width: 100%;
    	display: inline-block;
    	cursor: pointer;
    }
    
    .toc li a.active,
    .toc li a:hover {
        color: orange;
    }
    
    .toggle {
        position: fixed;
        top: 106px;
        display: block;
        margin: 0;
        .rounded-corners-bottom(@rad);
    	width: 960px - @base-width;
    	font-size: 0.75em;
    	text-align: right;
    	letter-spacing: 1px;
    	padding: 0 @body-whitespace;
    	height: 16px;
    	cursor: pointer;
    	color: @light-color;
        .gradient(@dark-color,@grey2);
    }
    .toggle:visited {
    	color: @light-color;
        }
    .toggle:hover {
    	color: @dark-color;
    	background: orange;
    }
    
    
    
    