/*  ###########################################################################
    Author:     Lunatech
    date:       Fabruary 2011
    ########################################################################### */
    
    @import "lib.less";

    #site { overflow: visible; } 
 
    .para { display: none; }
     
    h1 +.para {
        display: block;
        }
 
    h2 {
        font-size: 2em;
        font-family: @typeface-header;
        }
    h3 {
        padding-top: 1em;
        }
     
    h3.active { 
        margin-left: -40px;
        padding-left: 40px;
        width: 960px + 40px;
        font-weight: bold;
        background: transparent url(../images/arrow-next.png) no-repeat 0 80%;
        }
    .example li {
        color: black;
        margin-top: 3px;
        margin-bottom: 3px;
    }
     
    li > div {
    	color: black;
    }
    .body p { max-width: 740px; }
    .example {
        .rounded-corners(3px);
    	width: 100%;
    	background: white;
    	overflow:hidden;
    }

    .example td {
    	width: 33%;
    	padding: 5px 10px;
    }
    .example th {
        font-weight: bold;
        font-size: 0.75em;
        text-transform: uppercase;
        color: @light-color;
        background: @dark-color;
    	padding: 3px 10px;
        }
    .example td.program,
    .example td.result {
        border-right: 1px solid @light-color;
        background: @blue3;
    }
    .example .result-eval {
        background: orange;
        }
    table.doc {
    	float: right;
        .rounded-corners(3px);
    	width: 50%;
        margin: 1em 0;
    	background: #FDF3C6;
    	overflow: hidden;
    }
    
    table.doc th {
    	text-align: right;
    }
    
    table.doc .tag td {
    	font-weight: bold;
    	font-family: monospace;
    }
    
    table.doc th,
    table.doc td {
    	padding: 5px 10px;
    }
    
    pre { 
    	font-family: monospace;
    	white-space: pre-wrap;
    }
    
    .toc {
        position: fixed;
        top: 39px;
        z-index: 20;
        margin-bottom: 2em;
        .rounded-corners-bottom(@rad);
        padding-bottom: 1em;
        background: fadeout(@dark-color,5%);
        overflow: hidden;
        width: 960px;
        }
     
    .toc > div {
        margin: 0;
        padding: 0;
        }

    .toc > div.secondary {
		text-align: right;
        }
    
    
    .toc div span {
    	font-weight: bold;
		margin: 0 10px;
        }
    
    .toc div span.level2 {
        display: none;
    	font-weight: normal;
    	font-style: italic;
    }
    
    .toc span a {
    	text-decoration: none;
    	color: @light-color;
    	display: inline-block;
    	cursor: pointer;
    }
    
    .toc span a.active,
    .toc span a:hover {
        color: orange;
    }
    
    tt {
    	display: inline-block;
    	font-family: monospace;
    	background: #FDF3C6;
    }
    i {
    	font-style: italic;
    }
    
