/*  ###########################################################################
    Author:     Lunatech
    date:       Fabruary 2011
    ########################################################################### */
    
    @import "lib.less";

#subtitle {
 background: fadeout(@dark-color,5%);
 text-align: center;
 color: @light-color;
 width: 320px;
 .rounded-corners-bottom-right(10px);
 margin-bottom: 20px;
}
#subtitle a {
 color: @light-color !important;
}
.para {
 display: block;
}