#{extends 'main.html' /}
#{set title: 'Documentation' /}
#{set page: 'Docs' /}
#{set 'moreScripts'}
<script type="text/javascript">

    function hsf(){return $(".toc").height()+39}
    
    function adjustToc(){
        var hs = hsf();
        $(".toc").animate({
            height: hs
            }, 'fast');
        $("#site").animate( { marginTop: hs+24 }, 'fast' );
    }
    function pageMe(h){
        var $l = $("#link-"+h);
        var $h = $("#"+h);
        var $p = $h.closest(".para");
        if($p.is(":hidden")) {
            $(".para").hide();
            $p.show();
        } 
        $(".active").removeClass("active");
        $h.addClass('active');
        $l.addClass('active');
        if($l.closest("span").is(".level2"))
	        $('html:not(:animated),body:not(:animated)').scrollTop(($h.offset()).top - hsf() - 5);
        else
	        slideToc(h);
    }
    
    function slideToc(h){
    	console.log("slide toc");
    	jQuery(".toc span.level2").hide();
    	jQuery(".toc span."+h).show();
    }
    
    window.onload = init;
    function init(){
        var h = location.hash.split("/")[1];
        if (h==undefined) {
            $(".toc .primary span:first a").trigger('click');
        } else {
            $("#link-"+h).eq(0).trigger('click');
        }
    }
    
</script>
#{/set}
#{set 'moreStyles'}
 <style>
.top {
	z-index: 20;
	position: fixed;
	top: 0;
}
#site {
	margin-top: 100px !important;
}
 </style>
#{/set}

<script data-stamp="inline" type="text/html">
 <div class="toc">
  !{
    var container;
  }!
  <div class="primary">
  ~{jQuery selector: ".para .title", var: 'el'}
   !{ 
     var t = el.text();
     var a = t.replace(/\?/gi,"").replace(/\s/gi,"-").toLowerCase();
     el.attr('id', a);
   }!
   <span class="level1"><a href="#!/^{a}" id="link-^{a}" onclick="pageMe('^{a}')">^{t}</a></span>
  ~{/jQuery}
  </div>
  <div class="secondary">
  ~{jQuery selector: ".para .title, h3", var: 'el'}
   !{ 
     var t = el.text();
     var a = t.replace(/\?/gi,"").replace(/\s/gi,"-").toLowerCase();
     el.attr('id', a);
     if(!el.is('h3')) container = a;
   }!
   ~{if el.is('h3')}
    <span class="^{'level2 '+container}"><a href="#!/^{a}" id="link-^{a}" onclick="pageMe('^{a}')">^{t}</a></span>
   ~{/if}
  ~{/jQuery}
  </div>

 </div>
</script>


<script type="text/javascript">
 var example = 1;
</script>

<script name="example" data-stamp="tag" type="text/html">
  <table class="example">
   <tr>
    <th class="program">Stamps</th>
    <th class="result">Result source</th>
    <th>Result</th>
   </tr>
   <tr>
   <td class="program">
    <code><pre>~{doBody escape: true/}</pre></code>
    <script id="ex^{example}" type="text/html">~{doBody/}~{closeScript/}
   </td>
   <td class="result">
    <script type="text/javascript">
     var template = jQuery("#ex^{example}").html();
     var result = Stamps.__processTemplates(template);
     result = result.replace(/\n( *\n)+/g, "\n");
     jQuery("#ex^{example}-res").text(result);
     jQuery("#ex^{example}-res-eval").html(result);
    ~{closeScript/}
    <code><pre id="ex^{example}-res"></pre></code>
   </td>
   <td class="result-eval" id="ex^{example}-res-eval">
   </td>
  </tr>
 </table>
 !{ example++; }!
</script>

<div class="para">
 <h2 class="title">Templates examples</h2>
 <div class="body">
  <h3>Expressions</h3>
  <p>
  Here is our first example of using Stamps where we use the <tt>^{ expr }</tt> notation to inject the result
  of a JavaScript expression in the template result:
  </p>
  <script data-stamp="inline" type="text/html">
   ~{example}~{noEval}Here is the current date: 
^{new Date().toLocaleString()}~{/noEval}~{/example}
  </script>

  <h3>Tags</h3>
  <p>
   Tags in Stamps are invoked with the <tt>~{ tag attr: val, attr: val... }</tt> notation and closed with
   <tt>~{/ tag }</tt> and can be used for complex behaviour such as iterating lists:
  </p>
  <script data-stamp="inline" type="text/html">
   ~{example}~{noEval}<ul>
 ~{list items: [1,2,3,4,5], var: 'i'}
  <li>Item ^{i}</li>
 ~{/list}
</ul>~{/noEval}~{/example}
  </script>
  <p>
   There are a number of predefined tags, and of course you can define your own tags easily, which we will see later.
  </p>

  <h3>Code blocks</h3>
  <p>
   Code blocks are very powerful in Stamps since they allow you to execute JavaScript statements during
   template evaluation. They are defined with <tt>!{ statement... }!</tt> notation:
  </p>
  <script data-stamp="inline" type="text/html">
   ~{example}~{noEval}!{ var count = 0; }!
<ul>
 ~{list items: [1,2,3,4,5], var: 'i'}
  !{ count++; }!
  <li>Item ^{i}</li>
 ~{/list}
</ul>
Total: ^{count}~{/noEval}~{/example}
  </script>

  <h3>Dynamic expressions</h3>
  <p>
   Dynamic expressions let you use expressions defined at template-evaluation time in the code that is
   executed at run-time. The most common usage is to define (or get a hold of) a function at template-evaluation
   time, and want to be able to call this function as an <i>onclick</i> handler in the generated HTML. You write
   this with this syntax: <tt>`{ expression }</tt>.
  </p>
  <script data-stamp="inline" type="text/html">
   ~{example}~{noEval}<ul>
 ~{list items: [1,2,3,4,5], var: 'i'}
  <li>
   !{
     var f = function(){ 
      alert(i);
      return false;
     }
   }!
   <a href="#" 
      onclick="return `{f}();"
     >Click me</a>
  </li>
 ~{/list}
</ul>~{/noEval}~{/example}
  </script>
 </div>
</div>

<div class="para">
 <h2 class="title">Invoking templates</h2>
 <div class="body">
  <h3>Inline</h3>
  <p>
   Any <tt>script</tt> elements of type <tt>text/html</tt>, with the <tt>data-stamp</tt> 
   attribute set to <tt>inline</tt> will be evaluated by Stamps and replaced inline:
  </p>
  <table class="example">
   <tr>
    <th class="program">HTML</th>
    <th>Result</th>
   </tr>
   <tr>
   <td class="program">
    <code><pre>&lt;script type="text/html" data-stamp="inline">
 ^{new Date().toLocaleString()}
&lt;/script>
</pre></code>
   </td>
   <td class="result">
    <script type="text/html" data-stamp="inline">
     ^{new Date().toLocaleString()}
    </script>
   </td>
  </tr>
 </table>

  <h3>Invoke programmatically</h3>
  <p>
   You can invoke any simple tag programmatically and replace an element with the template's output, or just
   retrieve the template output. An optional argument contains the initial environment of the template, where
   you can pass any JavaScript values that will be visible inside the template (on top of the JavaScript global
   scope).
  </p>
  <table class="example">
   <tr>
    <th class="program">HTML</th>
   </tr>
   <tr>
   <td class="program">
    <code><pre>&lt;script type="text/javascript">
	// Those will replace the content of #output with the result of the template evaluation
	// for a template reference
	Stamps.loadTemplate("output", {id: "hello"}, /* optional */ {_arg: "World"});
	
	// Or using the jQuery plugin:
	jQuery("#output").Stamps({id: "hello"}, /* optional */ {_arg: "World"});
	
	// Or if you just want the html:
	var html = Stamps.applyTemplate("hello", /* optional */ {_arg: "World"});
&lt;/script>
</pre></code>
   </td>
   </tr>
  </table>
 </div>
</div>

<script name="doc" data-stamp="tag" type="text/html">
  <table class="doc">
   <tr class="tag">
    <th>Tag</th>
    <td>^{_tag}</td>
   </tr>
   ~{if _attributes}
    ~{list items: Object.keys(_attributes), var: 'attr'}
     <tr class="attribute">
      <th>Attribute ^{attr}</th>
      <td>^{_attributes[attr]}</td>
    </tr>
    ~{/list}
   ~{/if}
   ~{if _attribute}
   <tr class="attribute">
    <th>Attribute</th>
    <td>^{_attribute}</td>
   </tr>
   ~{/if}
   <tr class="body">
    <th>Body</th>
    <td>^{_body ? 'required' : 'no'}</td>
   </tr>
   <tr class="doc">
    <th>Description</th>
    <td>~{doBody/}</td>
   </tr>
 </table>
</script>


<div class="para">
 <h2 class="title">Predefined tags</h2>
 <div class="body">
  <script data-stamp="inline" type="text/html">
    ~{doc tag: 'if', attribute: 'boolean expression', body: true}
     If the boolean expression evaluates to a <i>truish</i> value, the body of the tag is evaluated. Otherwise
     it is discarded. 
    ~{/doc}
  </script>
  <h3>if</h3>
  <p>
   Write conditionals with the <tt>if</tt> tag.
  </p>
  <script data-stamp="inline" type="text/html">
   ~{example}~{noEval}~{if 1 == 2}
 This is false.
~{/if}

~{if true}
 This is true.
~{/if}
~{/noEval}~{/example}
  </script>

  <script data-stamp="inline" type="text/html">
    ~{doc tag: 'else', body: true}
     If the previous <tt>if</tt> tag's boolean expression evaluates to a <i>false</i> value, the body of the 
     tag is evaluated. Otherwise it is discarded. 
    ~{/doc}
  </script>
  <h3>else</h3>
  <p>
   Optional tag to go with the <tt>if</tt> tag.
  </p>
  <script data-stamp="inline" type="text/html">
   ~{example}~{noEval}~{if 1 == 2}
 This is false.
~{/if}
~{else}
 One is not two.
~{/else}

~{if true}
 This is true.
~{/if}
~{else}
 The test failed.
~{/else}
~{/noEval}~{/example}
  </script>

  <script data-stamp="inline" type="text/html">
    ~{doc tag: 'list', 
          attributes: {items: 'An array expression to iterate', 
                       var: 'The name of the variable to hold each iterated item'}, 
          body: true}
     Evaluates the body once for each item in the <tt>items</tt> attribute, each time defining the
     <tt>var</tt> variable to hold the iterated element. An extra <tt>var_index</tt> variable is defined
     to hold the current iteration number.
    ~{/doc}
  </script>
  <h3>list</h3>
  <p>
   Iterate over arrays with the <tt>list</tt> tag.
  </p>
  <script data-stamp="inline" type="text/html">
   ~{example}~{noEval}<ul>
 ~{list items: ["blue","green","red"], 
        var: "color"}
  <li>^{color_index}: ^{color}</li>
 ~{/list}
</ul>~{/noEval}~{/example}
  </script>

  <script data-stamp="inline" type="text/html">
    ~{doc tag: 'jQuery', 
          attributes: {selector: 'A jQuery selector to iterate', 
                       var: 'The name of the variable to hold each iterated item'}, 
          body: true}
     Evaluates the body once for each item that matches the jQuery <tt>selector</tt> attribute, 
     each time defining the <tt>var</tt> variable to hold the iterated element's jQuery wrapper. 
     An extra <tt>var_index</tt> variable is defined
     to hold the current iteration number.
    ~{/doc}
  </script>
  <h3>jQuery</h3>
  <p>
   Iterate over jQuery selectors with the <tt>jQuery</tt> tag.
  </p>
  <script data-stamp="inline" type="text/html">
   ~{example}~{noEval}<ul>
 ~{jQuery selector: "h2", var: "header"}
  <li>^{header_index}: ^{header.text()}</li>
 ~{/jQuery}
</ul>~{/noEval}~{/example}
  </script>

  <script data-stamp="inline" type="text/html">
    ~{doc tag: 'timer', 
          attribute: 'an integer expression defining the number of milliseconds for each update', 
          body: true}
     Evaluates the body and re-evaluates it every <tt>X</tt> milliseconds.
    ~{/doc}
  </script>
  <h3>timer</h3>
  <p>
   Refresh parts of your document every <tt>X</tt> milliseconds with the <tt>timer</tt> tag.
  </p>
  <script data-stamp="inline" type="text/html">
   ~{example}~{noEval}~{timer 5000}
^{new Date().toLocaleString()}
~{/timer}~{/noEval}~{/example}
  </script>

  <script data-stamp="inline" type="text/html">
    ~{doc tag: 'future', 
          attribute: 'an Future instance holding a reference to data that will become available asynchronously', 
          body: true}
     Evaluates the body when the Future instance data is ready, possibly asynchronously if it is not ready yet.
    ~{/doc}
  </script>
  <h3>future</h3>
  <p>
   The <tt>future</tt> tag allows you to delay template evaluation until the given <tt>Future</tt> is defined.
  </p>
  <p>
   When doing AJAX it's likely you'll have some templates that will depend on external data which you
   load using AJAX, which means it's going to be asynchronous.
  </p>
  <p>
   In Stamps we use <i>futures</i> to describe values that might or might not yet be defined 
   (because they could arrive later via AJAX). When you pass the <tt>future</tt> tag a value which is 
   an instance of the type <tt>Stamps.Future</tt>, the current template tag evaluation is delayed 
   until the <i>future</i> instance is defined fully (when it receives its value from the network, 
   for instance), and the current template is <i>partially</i> evaluated, leaving gaps
   (actually, placeholders) where the template tags are waiting for <i>futures</i>.
  </p>
  <p>
   Once the <i>future</i> instances are complete, the template processing is resumed with the 
   <i>future</i>'s value and the placeholders are replaced with the evaluation of the delayed templates.
  </p>
  <p>
   This makes it very easy to define a complete page with <i>holes</i> for the parts which rely on external data,
   without delaying the rendering of the rest of the templates.
  </p>
  <p>
   You can define a <i>future</i> which gets JSON data from an external source like this:
  </p>
  <script data-stamp="inline" type="text/html">
   ~{example}~{noEval}~{future 
   value:new Stamps.Future("/data"), 
   var:'elements' }
 <ul>
 ~{list items: elements, var: 'v'}
  <li>Value of v is: ^{v}</li>
 ~{/list}
 </ul>
~{/future}~{/noEval}~{/example}
  </script>

  <script data-stamp="inline" type="text/html">
    ~{doc tag: 'noEval', 
          body: true}
     Outputs the body with no JSTemplate interpretation. Use this if you want to output code that would
     otherwise be intepreted as JSTemplate.
    ~{/doc}
  </script>
  <h3>noEval</h3>
  <p>
   Output non-evaluated template code with the <tt>noEval</tt> tag.
  </p>
  <script data-stamp="inline" type="text/html">
   ~{example}~{openTag 'noEval'/}~{noEval}
^{new Date().toLocaleString()}
~{/noEval}~{closeTag 'noEval'/}~{/example}
  </script>
 </div>
</div>

<div class="para">
 <h2 class="title">Writing new tags</h2>
 <div class="body">
  <h3>Simple tags</h3>
  <p>
   Define your simple tags with <tt>script</tt> elements of type <tt>text/html</tt>, the <tt>data-stamp</tt> 
   attribute set to <tt>tag</tt> and the <tt>name</tt> attribute to set the name of the new simple tag.
  </p>
  <p>
   The simple tag's attributes are prefixed with a "<tt>_</tt>", and if there is a default attribute it is available
   as <tt>_arg</tt>. You can refer to the tag's body with <tt>~{doBody/}</tt>:
  </p>
  <table class="example">
   <tr>
    <th class="program">HTML</th>
    <th>Example</th>
   </tr>
   <tr>
   <td class="program">
    <code><pre>&lt;script type="text/html" data-stamp="tag" name="foo">
 Default argument: ^{_arg}&ltbr/>
 Named argument: ^{_item}&ltbr/>
 Body: ~{doBody/}
&lt;/script>
</pre></code>
   </td>
   <td class="result">
<code><pre>
 ~{foo 'default arg goes here'}Body goes there~{/foo}
 ~{foo item: 'named arg goes here'/}
</pre></code>
   </td>
  </tr>
 </table>
  
  <h3>Programmatically</h3>
  <p>
   You must define a subtype of <tt>Stamps.Tag</tt>, and register it in Stamps so it can find it:
  </p>
  <table class="example">
   <tr>
    <th class="program">HTML</th>
   </tr>
   <tr>
   <td class="program">
    <code><pre>&lt;script type="text/javascript">
 // define our new tag type
 function HelloTag(name, attributes){
	Stamps.Tag.apply(this, [name, attributes]);
 }
 // make sure it inherits methods from Stamps.Tag
 Stamps.extend(HelloTag, Stamps.Tag);

 // and implement its behaviour
 HelloTag.prototype.outputInNewEnv = function(out, previousSibling, env){
	// when we do not name the attributes, the default is "_arg"
	// we evaluate the contents of the attribute in the current environment
	var string = env.evalExpression(this.attributes._arg);
	// and we write it out
	out('Hello ' + string);
 };

 // register this new tag in Stamps
 Stamps.declareTag('hello', HelloTag);
&lt;/script>
</pre></code>
   </td>
   </tr>
  </table>

  <h3>Loading templates from the network</h3>
  <p>
   You can load simple tags from the network, just like you can load JavaScript and CSS, by placing them into
   a file and adding the following <tt>link</tt> elements to your document <tt>head</tt>:
  </p>
  <table class="example">
   <tr>
    <th class="program">HTML</th>
   </tr>
   <tr>
   <td class="program">
    <code><pre>&lt;link rel="stamps" href="/templates/my-tags.html" type="text/html" /></pre></code>
   </td>
   </tr>
  </table>
 </div>
</div>

<div class="para">
 <h2 class="title">API</h2>
 <div class="body">
  <h3>Invoking functions when Stamps is ready</h3>
  <p>
   Sometimes you need to invoke some code when all templates have been executed, and <tt>body.onload</tt> or
   <tt>jQuery(f)</tt> is not enough, but you can register your initialisation code with:
  </p>
  <code><pre>Stamps.ready(function(){ alert('It is ready!'); });</pre></code>
 </div>
</div>
