#{extends 'main.html' /}
#{set title:'Home' /}
#{set 'moreScripts'}
 <link rel="stamps" href="@{'/public/templates/remote-tags.html'}" type="text/html" />
 <link rel="stamps" href="@{'/public/templates/remote-tags2.html'}" type="text/html" />
#{/set}
#{set 'moreStyles'}
<style>
div {
	border: 1px red solid;
	margin: 5px;
	padding: 5px;
}
</style>
#{/set}

<!-- 
 Due to conflicts with Play! templates the tags are defined like this:
 ~{tag /} or ~{tag}{/tag}
 !{ JS statements }!
 ^{ JS expressions inserted in the body }
 `{ JS expression that is saved during template expansion, to be used in later JS code }
 Use a Stamps.Future instance to delay evaluation (right now only supported in the list tag)
-->

<!-- Procedural -->
Procedural template expansion:
<div id="output"></div>
<script>
	Stamps.loadTemplate("output", {url: "@{'/public/templates/t1.html'}"});
</script>

<!-- jQuery plugin -->
jQuery template expansion:
<div id="output2"></div>
<script>
	jQuery("#output2").Stamps({url: "@{'/public/templates/t1.html'}"});
</script>

<!-- Declarative -->
Automatic template expansion:
<div data-stamp-url="@{'/public/templates/t1.html'}"></div>

<!-- Inline -->
Automatic inline template expansion:
<div>
<script data-stamp="inline" type="text/html">
  <ul>
  ~{list items:[1,2,3], var:'i' }
   <li>inline item: ^{i}</li>
  ~{/list}
  </ul>
  <ul>
  ~{list items:new Stamps.Future("/data"), var:'d' }
   <li>Future data: ^{d}</li>
  ~{/list}
  </ul>
</script>
</div>

<!-- Extensions -->
<script type="text/javascript">
//define our new tag type
function HelloTag(name, attributes){
	Stamps.Tag.apply(this, [name, attributes]);
}
// make sure it inherits methods from Stamps.Tag
Stamps.extend(HelloTag, Stamps.Tag);

// and implement its behaviour
HelloTag.prototype.outputInNewEnv = function(out, previousSibling, env){
	// when we do not name the attributes, the default is "_arg"
	// we evaluate the contents of the attribute in the current environment
	var string = env.evalExpression(this.attributes._arg);
	// and we write it out
	out('Hello ' + string);
};

// register this new tag in Stamps
Stamps.declareTag('hello', HelloTag);
</script>

<!-- Simple Extensions -->
<script name="hello2" data-stamp="tag" type="text/html">
 Hello ^{_arg}
</script>

<script name="hello3" data-stamp="tag" type="text/html">
 Hello ^{_firstName} ^{_lastName}
</script>

<script name="hello4" data-stamp="tag" type="text/html">
 Hello ^{_firstName} ~{doBody/} ^{_lastName}
</script>

<!-- Inline -->
<script data-stamp="inline" type="text/html">
 Custom JS tag:
 <div>~{hello 'World!' /}</div>
 Simple tag with default argument:
 <div>~{hello2 'simple World!' /}</div>
 Simple tag with named arguments:
 <div>~{hello3 firstName: 'Stef', lastName: 'Epardaud' /}</div>
 Simple tag with named arguments and a body:
 <div>~{hello4 firstName: 'Stef', lastName: 'Epardaud' }FroMage~{/hello4}</div>
</script>

<!-- Simple Reference -->
<script id="ref1" data-stamp="ref" type="text/html">
 ~{hello subject /}
</script>

Template reference with initial environment:
<div id="ref1-target"></div>
<script type="text/javascript">
 Stamps.ready(function(){
	jQuery("#ref1-target").Stamps({id: "ref1"}, {subject: 'universe!'});
 });
</script>

<!-- Complex Reference -->
<script id="ref2" data-stamp="ref" type="text/html">
 <i>^{user.firstName}</i> <b>^{user.lastName}</b>
 <a href="#" onclick="return `{user}.clicky()">Click me (please)</a>
</script>

Template reference with initial environment and dynamic value:
<div id="ref2-target"></div>
<script type="text/javascript">
 Stamps.ready(function(){
	var user = {firstName: "Stef", lastName: "Epardaud"};
	user.clicky = function(){
		alert("I was clicked: "+user.firstName);
		return false;
	}
	jQuery("#ref2-target").Stamps({id: "ref2"}, {user: user});
 });
</script>

<!-- Tag loaded automatically -->
<script data-stamp="inline" type="text/html">
 Tag loaded automatically
 <div>~{auto-tag 'Hi!' /}</div>
 Second tag loaded automatically in the same file
 <div>~{auto-tag2 'Hi!' /}</div>
 Third tag loaded automatically from another file
 <div>~{auto-tag3 'Hi!' /}</div>
</script>
